.block-content{

    float: left;

    max-width: 685px;

    display: flex;

    flex-direction: column;

    p{
        margin-bottom: 0px;
    }


    &-full-wrapper{

        position: relative;
        
        float: left;

        width: 100%;

        padding-top: 100px;

        display: flex;

        align-items: center;


       
    }

}